%body
  = render 'shared/side_bar'

  .maine
    .maine-head
      .maine-head__left-box
        %h2.maine-head__left-box__group-name test-group
        %p.maine-head__left-box__member-list Member: sample
      .maine-head__right-box
        = link_to '/' do
          %p.maine-head__right-box__btn Edit
    .maine-messages
      .maine-messages__message
        .maine-messages__message__info
          %p.maine-messages__message__info__user-name test-user
          %p.maine-messages__message__info__data 2019/03/10(sun) 15:04:00
        %p.maine-messages__message__text こんにちわ
      .maine-messages__message
        .maine-messages__message__info
          %p.maine-messages__message__info__user-name test-user
          %p.maine-messages__message__info__data 2019/03/10(sun) 15:05:23
        %p.maine-messages__message__text さようなら
    .form
      %form.new-message
        .input-box
          %input.input-box__text(type="text" placeholder="type a message")
            %input#message-image(type="file" style="display:none")
              %label.input-box__image(for="message-image")
                %i.fa.fa-picture-o
        %input.submit-btn(type="submit" value="SEND")





